.screen{
    background-color: rgb(100, 96, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.box{
    background-color: rgb(194, 183, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40px;
    margin: 5px
}

.box label{

}