.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.login-box {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    padding: 4rem;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
}

.login-box form{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 350px;
}

.login-box form input{
    width: 100%;
    padding: 12px 15px;
    font-size: 1.1rem;
    border:none;
    border-radius: 5px;
    background-color: white;
    outline: none;
    box-sizing: border-box;
}